@import url(./assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    box-sizing: border-box;
  }

body{
    display: flex;
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: white;
    padding: 0px;
    margin: 0px;
}
body>p{
    font-size: 18px;
}
.flex-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
}
.flex-container>.result{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   
 width: 100%;
 height: 30%;
 padding: 20px 50px;
 border-radius: 0px 0px 20px 20px;
 background-color: hsl(241, 81%, 54%);/* For browsers that do not support gradients */
  
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%) );
}
.result>.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    width: 120px;
    height:120px;
   
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0) );
}
 
.result>p{
    color:hsl(241, 100%, 89%) ;
}

.range::first-line{
    font-size: 50px;
  
    color: white;
}
.range>span{
    font-size: 14xp;
    color: hsla(241, 100%, 89%,0.5);
}
.result>h2{
    color: white;
    letter-spacing: 2px;
}
.flex-container>.summary{
    width: 100%;
    height: 60%;
    background-color: white;
    padding: 30px;
    font-weight: bold;
   z-index: -2;
    
}
.summary>div{
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    border-radius: 10px;
    height: 60px;
    border:1px solid transparent;
    margin-bottom: 20px;
    padding-left: 20px;

}
.summary>div>.purcent{
    position: absolute;
    top: 0px;
    right: 20px;
    color: hsl(0, 0%, 0%);
}
/* coin style*/
.summary>div>.top-left{
  position: absolute;
  top: -2px;
  left: -2px;
  height: 30px;
  width: 50px;
  
  border-radius: 15px;
  border:1px solid transparent;
  z-index: -1;
}
.summary>div>.top-right{
  position: absolute;
  top: -1px;
  right: -1px;
  height: 30px;
  width: 50px;

  border-radius: 15px;
  border:1px solid transparent;
  z-index: -1;
}
.summary>div>.bottom-left{
  position: absolute;
  bottom: -1px;
  left: -1px;
  height: 20px;
  width: 30px;
  
  border-radius: 15px;
  border:1px solid transparent;
  z-index: -1;
}
.summary>div>.bottom-right{
   position: absolute;
  bottom: -1px;
  right: -1px;
  height: 20px;
  width: 30px;
  
  border-radius: 10px;
  border:1px solid transparent;
  z-index: -1;
}

.purcent>span{color: hsla(0, 0%, 0%,0.5);}
.summary>div>.Name{
  padding-left: 20px;
}


.summary>.reaction{
    
    background-color: hsla(0, 100%, 67%,0.1);
    color:hsl(0, 100%, 67%) ;
 
  }
  /*Add border to corners*/
  .summary>.reaction>.top-left{
    background-image: linear-gradient(white,white),
    linear-gradient( 135deg,hsla(0, 100%, 67%,0.5) 10%,transparent 18% 100% );
  
  background-origin: border-box;
  background-clip: padding-box,border-box;
  }
  .summary>.reaction>.top-right{
    background-image: linear-gradient(white,white),
                        linear-gradient( -135deg,hsla(0, 100%, 67%,0.5) 10%,transparent 18% 100% );
     
      background-origin: border-box;
      background-clip: padding-box,border-box;
     
  }
  .summary>.reaction>.bottom-right{
    
    background-image: linear-gradient(white,white),
                      linear-gradient( -45deg,hsla(0, 100%, 67%,0.5) 20%,transparent 25% 100% );
    
    background-origin: border-box;
    background-clip: content-box,border-box;
  
  }
  .summary>.reaction>.bottom-left{
    background-image: linear-gradient(white,white),
                        linear-gradient( 45deg,hsla(0, 100%, 67%,0.5) 20%,transparent 25% 100% );
     
      background-origin: border-box;
      background-clip: padding-box,border-box;
     
  }



  .summary>.memory{
   
    background-color: hsla(39, 100%, 56%,0.1);
    color:hsl(39, 100%, 56%);
    
  }
  /*Add border to corners*/
  .summary>.memory>.top-left{
    background-image: linear-gradient(white,white),
    linear-gradient( 135deg,hsla(39, 100%, 56%,0.5) 10%,transparent 18% 100% );
  
  background-origin: border-box;
  background-clip: padding-box,border-box;
  }
  .summary>.memory>.top-right{
    background-image: linear-gradient(white,white),
                        linear-gradient( -135deg,hsla(39, 100%, 56%,0.5) 10%,transparent 18% 100% );
     
      background-origin: border-box;
      background-clip: padding-box,border-box;
     
  }
  .summary>.memory>.bottom-right{
    
    background-image: linear-gradient(white,white),
                      linear-gradient( -45deg,hsla(39, 100%, 56%,0.5) 20%,transparent 25% 100% );
    
    background-origin: border-box;
    background-clip: content-box,border-box;
  
  }
  .summary>.memory>.bottom-left{
    background-image: linear-gradient(white,white),
                        linear-gradient( 45deg,hsla(39, 100%, 56%,0.5) 20%,transparent 25% 100% );
     
      background-origin: border-box;
      background-clip: padding-box,border-box;
     
  }



  .summary>.Verbal{
   
    background-color: hsla(166, 100%, 37%,0.1);
    color:hsl(166, 100%, 37%) ;
    
  }
  /*Add border to corners*/
  .summary>.Verbal>.top-left{
    background-image: linear-gradient(white,white),
    linear-gradient( 135deg,hsla(166, 100%, 37%,0.5) 10%,transparent 18% 100% );
  
  background-origin: border-box;
  background-clip: padding-box,border-box;
  }
  .summary>.Verbal>.top-right{
    background-image: linear-gradient(white,white),
                        linear-gradient( -135deg,hsla(166, 100%, 37%,0.5) 10%,transparent 18% 100% );
     
      background-origin: border-box;
      background-clip: padding-box,border-box;
     
  }
  .summary>.Verbal>.bottom-right{
    
    background-image: linear-gradient(white,white),
                      linear-gradient( -45deg,hsla(166, 100%, 37%,0.5) 20%,transparent 25% 100% );
    
    background-origin: border-box;
    background-clip: content-box,border-box;
  
  }
  .summary>.Verbal>.bottom-left{
    background-image: linear-gradient(white,white),
                        linear-gradient( 45deg,hsla(166, 100%, 37%,0.5) 20%,transparent 25% 100% );
     
      background-origin: border-box;
      background-clip: padding-box,border-box;
     
  }



  .summary>.visual{
   
    background-color: hsla(234, 85%, 45%,0.1);
    color:hsl(234, 85%, 45%) ;
    
  }
  /*Add border to corners*/
  .summary>.visual>.top-left{
    background-image: linear-gradient(white,white),
    linear-gradient( 135deg,hsla(234, 85%, 45%,0.5) 10%,transparent 18% 100% );
  
  background-origin: border-box;
  background-clip: padding-box,border-box;
  }
  .summary>.visual>.top-right{
    background-image: linear-gradient(white,white),
                        linear-gradient( -135deg,hsla(234, 85%, 45%,0.5) 10%,transparent 18% 100% );
     
      background-origin: border-box;
      background-clip: padding-box,border-box;
     
  }
  .summary>.visual>.bottom-right{
    
    background-image: linear-gradient(white,white),
                      linear-gradient( -45deg,hsla(234, 85%, 45%,0.5) 20%,transparent 25% 100% );
    
    background-origin: border-box;
    background-clip: content-box,border-box;
  
  }
  .summary>.visual>.bottom-left{
    background-image: linear-gradient(white,white),
                        linear-gradient( 45deg,hsla(234, 85%, 45%,0.5) 20%,transparent 25% 100% );
     
      background-origin: border-box;
      background-clip: padding-box,border-box;
     
  }
  .summary>button{
     text-align: center;
     height: 60px;
     width: 100%;
     border-radius: 30px;
     border: none;
     color: white;
     font-size: 20px;
     background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%) );

  }
  button:hover{
    background-image:none;
    background-color: rgb(52, 52, 52);
  }
